html, body {
  background-color: #f2f1ed;
  font-family: Georgia, serif;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #5d8432;
  text-transform: uppercase;
  font-family: "Patua One", cursive;
}

figcaption {
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
}

ol {
  list-style: none;
  text-decoration: underline;
  font-family: "Patua One", cursive;
}

ol li a {
  color: #793284;
}

ol li a:hover {
  color: #b42885;
}
